@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

#__next {
  position: absolute;
  inset: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out infinite;
}